
 *{
     padding: 0;
     margin: 0;
 }

 /* h1{
    background-color: yellow;
    color: green;
} */
/* 
*{
    font-size: 14px;
}

body{
    /* background-color: red; 
}

.bg-red{
    background-color: #870f6980;
}

#big{
    font-size: 50px;
    font-weight: bold;
}

.font-40{
    font-size: 40px;
} */
/* 
body{
    background-image: linear-gradient(to top left ,black, red);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: contain;
} */
/* 
div{
    background-image: url('./bg_image.jpg');
    /* height: 120px; 
} 



.box{

    background-color: magenta; 
    width: 300px;
    height: 300px;
    border-width: 50px;
    border-style: inset;
    border-color: red;
    border-radius: 50%;
}

/* .box-2{
    background-color: green;
    width: 50%;
    height: 50%;
} */
/* 
button{
    padding: 20px;
    text-transform: uppercase;
    background-color: skyblue;
    border-color: green;
    border-width: 10px;
    border-style: outset;
    box-shadow: 5px -5px 0px black;
}

button:focus{
    border-style: inset;
    background-color: rgb(76, 169, 206);
    color: #eee;
}

.parent{
    width: 300px;
    border: 1px solid black;
    overflow: auto;
}

.child{
    width: 500px;
} 

@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap');
@import url('./fonts/Lobster/Lobster-Regular.ttf');
@import url('./fonts/hack/Hack-Regular.ttf');

h1{
    font-family: 'Mochiy Pop P One', sans-serif;
}

h2{
    font-family: Hack;
}

.link-btn{
    text-decoration: none;
    font-size: 25px;
    border:10px solid red;
    padding: 10px 20px;
    margin: 20px;
    display: inline-block;
    color: #fff;
    background-color: seagreen;
    transition: 1s;
}

.link-btn:hover{
    border:10px solid seagreen;
    background-color: red;
}

.link-btn:focus{
    border:10px solid seagreen;
    background-color: red;
    border-radius: 10px;
}

.link-btn:nth-child(3){
    color: black;
}

div{
    display: inline;
}

span{
    display: block;
} 

.dis-none{
    visibility: hidden;
}



.parent{
    height: 400px;
    width: 400px;
    background-color: green;
    position: relative;
}


.myDiv{
    height: 200px;
    width: 200px;
    background: red;
    position: absolute;
    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);
}


body{
    height: 1000px;
}

*/
/* 

.outer{
    background-color: blue;
}

.inner-one{
    background-color: red;
    height: 100px;
    width: 300px;
    float: right;
}

.inner-two{
    background-color: black;
    height: 100px;
    width: 300px;
    float: right;
}

 p{
    clear: both;
} 

img:nth-child(1){
    float: right;
}


img:nth-child(2){
    float: left;
}

.container{
    background-image: linear-gradient(120deg, red, green, yellow, blue, white);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 100px 10px;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
}

h1{
    text-align: center;
    font-size: 80px;
    color: transparent;
    text-shadow: 2px 50px 10px black;
} 


.parent{
    background-color: seagreen;
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
    height: 95vh;
}

.child{
    background-color: #eee;
    height: 200px;
    width: 300px;
    margin: 2px;
    font-size: 40px;
}

*/

/* .parent{
    height: 100vh;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}

.parent > h1{
    font-size: 60px;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
} */
/* 
body{
    background-color: #eee;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.myBtn{
    padding: 30px;
    background-color: indigo;
    font-size: 25px;
    color: #fff;
    border: none;
    transition: 1s;
}

.myBtn:hover{
    /* transform: translate(-20px, 20px); */
    /* transform: rotate(20deg); 

    transform: skewX(30deg)
} */

.myclass{
    width: 0%;
    height: 10px;
    background-color: green;
    animation-name: animation_one;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0,.54,.87,-0.02);
    animation-direction: reverse;
}

/* .myclass:hover{
    width: 100%;
} */

.loader{
    width: 100px;
    height: 100px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    border: 15px solid #bbb;
    border-top: 15px solid green;
    animation-name: spin;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes spin {
    from{
        transform: translate(-50%, -50%) rotate(0deg);
    }

    to{
        transform: translate(-50%, -50%) rotate(360deg);
    }
}


@keyframes animation_one {
    from{
        width: 0%;
        /* height: 10p; */
    }
    to{
        width: 100%;
        /* height: 500px; */
    }
}

.squire{
    width: 100px;
    height: 100px;
    background-color: red;
    position: fixed;
    top: 0;
    left: 0;
    animation: move infinite linear alternate 15s;
}

@keyframes move {
    0%{
        top: 0;
        left: 0;
    }
    25%{
        top: 0; 
        left: calc(100% - 100px);
    }
    50%{
        top: calc(100% - 100px);
        left: calc(100% - 100px);
    }

    75%{
        top: calc(100% - 100px);
        left:0;
    }
    100%{
        top:0;
        left: 0;
    }
    
}


/* .container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
} */

.ball{
    width: 15px;
    height: 15px;
    background-color: green;
    border-radius: 50%;
    margin: 5px;
    animation: slide infinite linear 2s;
}

.two{
    animation-delay: .07s;
}
.three{
    animation-delay: .14s;
}
.four{
    animation-delay: .21s;
}

@keyframes slide {
    0%{
        transform: translateY(0);
    }
    80%{
        transform: translateY(0);
    }
    90%{
        transform: translateY(-30px);
    }
    100%{
        transform: translateY(0);
    }
}

.container {
    display: flex;
    gap: 5px;
    height: 500px;
    /* align-items: center; */

}

.item{
    background-color: blue;
    width: 25%;
}

.inner{
    background-color: red;
    /* height: 100%; */
}